<!doctype html>
<html lang="en" class="h-100">
<head>
  <meta charset="utf-8">
    <title>Подробная информация</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'style_features.css' %}">
</head>
<body>
  <div class = 'base_container'>
    <div class = 'picture_container'>
      <img src = '{{an.photo_url}}' class = 'an_photo'>
    </div>
    <div class = 'anrecord_container' id="name">
      {{an.rec_name}} животное
    </div>
    <div class = 'anrecord_container' id="record">
      Среда обитания: {{an.env_measur}}
    </div>
    <div class = 'anrecord_container' id="typeof">
      Единицы измерения: {{an.units}}
    </div>
    <div class = 'aninf_container'>
      {{an.description}}
    </div>
    <div class = 'button_container'>
      <a href="{% url 'main_page'%}"> Назад </a>
    </div>

    
  </div>
  
  
</body>
</html>